<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Restaurant APP | <%- title %> </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
   <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">

  

</head>

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Delish Restaurant</h1>
    <p> It's <span class="typed" data-typed-items="Delicious, Delish, Restaurant"></span></p>
  </div>
</section><!-- End Hero -->
<body>
    <main>
        <%- body %>

        <!-- <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
          <div class="hero-container" data-aos="fade-in">
            <h1>Rashidatu Mohammed</h1>
            <p> I am <span class="typed" data-typed-items="Frontend, Backend, Developer"></span></p>
          </div>
        </section>End Hero -->

        
    </main>

    

    <!-- <section id="hero" class="d-flex flex-column justify-content-center align-items-center"> -->

      
    
    

    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <!-- <script src="assets/vendor/aos/aos.js"></script> -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <!-- <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script> -->
    <!-- <script src="assets/vendor/swiper/swiper-bundle.min.js"></script> -->
    <script src="assets/vendor/typed.js/typed.umd.js"></script>
    <!-- <script src="assets/vendor/waypoints/noframework.waypoints.js"></script> -->
    <script src="js/main.js"></script>

    
</body>
</html>