    .home{
       
   
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .main-header{
        /* color: red; */
        transform: translate(-115%, 5%);
        /* padding-right: 10rem; */
    }

    /* .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    } */

    .col {
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
        animation: fadeIn 1s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col:hover {
        transform: scale(1.05);
    }

    .meal-image {
        width: 100%; /* Set a fixed width for uniformity */
        height: auto; /* Automatically adjust the height */
        max-height: 200px; /* Limit the maximum height */
    }

    .meal-info {
        padding: 10px;
        text-align: center;
    }

    .meal-name {
        font-size: 1.2em;
        font-weight: bold;
    }

    .meal-price {
        font-size: 1.1em;
    }

    .meal-description {
        font-size: 1em;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }